{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-12"><h3>About this Project</h3></div>
</div>
<div class="row">
	<div class="col">
	<p>Cyclist-Fatalities.com aims to be a single location for information on all incidents of cyclists killed in vehicular crashes. All information is sourced from news publications. Data points such as coordinates of the crash are determined from information from these articles.</p>
	<p>The goal of this project is to be a resource for cyclists, community activists, and researchers with an interest in eliminating cyclist deaths.</p>
	</div>
</div>
<br/>
{% endblock %}
