<html>
	<head>
		<title>Cycling Incidents</title>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col"><h1><a href="{% url 'index' %}">Cyclist Fatalities</a></h1></div>
			</div>
			<br/>
			<div class="row">
				<div class="col">
					{% if latest_incident_list %}
						<table id="incidents_table" class="display">
							<thead>
								<tr>
									<th>Date/Time</th>
									<th>Name</th>
									<th>Age</th>
									<th>City</th>
									<th>State</th>
									<th>Zip</th>
								</tr>
							</thead>
							{% for incident in latest_incident_list %}
								<tr>
									<td>
										{{ incident.incident_date_time }}
									</td>									
									<td>
										<a href="{% url 'detail' incident.id %}">{{ incident.get_name }}</a>
									</td>
									<td>
										{{ incident.get_age }}
									</td>
									<td>
										{{ incident.city }}
									</td>
									<td>
										{{ incident.state }}
									</td>
									<td>
										{{ incident.zip_code }}
									</td>
								</tr>
							{% endfor %}
						</table>
					{% else %}
						<p>No incidents are available.</p>
					{% endif %}
				</div>
			</div>
			<div class="col">
			</div>
			<div class="col">
			</div>
		</div>
	</div>
	<script type="text/javascript">
			$(document).ready( function () {
	$('#incidents_table').DataTable();
	} );
	</script>
</body>
</html>